html, body {
	height: 100%;
}
div {
height: auto;
border: 1px solid black;

}
.row:nth-child(2) {
	margin-top: 20px;
}

div #footer {
	height: 100px !important;
	margin-top: -100px;
}
body .container:first-child {
	min-height: 100%;
	padding-bottom: 200px;
}
#dwer {
	width:200px;
	height: 200px;
	position: absolute;
	top:0;
	left: 0;
	background: url(dver32.png) no-repeat;
	background-position: 0 -150px;
}


